<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap" rel="stylesheet">

<div class="wrapper">


    <div class="header">


        <!--Content before waves-->
        <div class="inner-header flex">

            <div class="page-header section-dark" style="background-color: transparent; font-family: Noto Naskh Arabic;">
                <div class="" style="width: 700px; margin-top: 130px; ">
                    <app-mainsvg></app-mainsvg>
                </div>
            </div>
        </div>
        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        <!--Waves end-->

    </div>
    <!--Header ends-->

    <!--Content starts-->
    <div class="container p-2">
        <br /><br /> <br /><br /> <br /><br /> <br />

    </div>
    <!--Content ends-->

    <div class="main">
        <div class="container">
            <div class="section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <h2 class="title">الكورسات المتاحة</h2>
                            <h5 class="description">
                                جوه كل طفل وطفلة مبدع صغير
                                عايز دايما يجرب ويستكشف حاجات جديدة.
                                دورنا أننا نساعدهم يعملوا ده ويطوروا مهاراتهم وقدراتهم على التعلم والأبتكار بأننا نشغل
                                وقتهم
                                بأنشطة وكورسات مفيدة وممتعة ومخفضة .
                            </h5>

                        </div>
                    </div>
                    <br /><br />


                    <div class="row">
                        <div class="card-deck" dir="rtl">
                            <div class="col-md-6 p-2">
                                <div class="card p-4"
                                    style="box-shadow: 0 6px 10px -4px rgb(0 0  0/ 45%); border: #ff9776 solid;">
                                    <img src="assets/img/math.png" class="rounded mx-auto d-block img-responsive "
                                        style="width: 100px; " alt="Rounded Image">
                                    <div class="card-body">
                                        <h3 class="info-title p-2">
                                             الحساب الذهني
                                        </h3>
                                        <h5 class="description">
                                            ده الوقت المناسب للبدأ لطفلك بأقوى كورس لتنمية قدراته
                                            العقلية
                                            احنا بنوصل ال math "الرياضيات" للاطفال بطريقه اسهل واوضح واقرب لعقلهم هيتعلم
                                            ازاى
                                            يستخدم العداد الصينى يكتب عليه الارقام ويحل المسائل وكمان هيحل المسائل
                                            بأستخدام
                                            العداد التخيلى وهيتعلم كمان دروس كثير من المنهج بتاعه الدراسى

                                        </h5>
                                        <button type="button" class="btn btn-default  btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#mathprices"><i
                                                class="nc-icon nc-paper p-1">
                                                &nbsp;الاسعار </i></button>

                                        <button type="button" class="btn btn-danger btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#math"><i class="nc-icon nc-paper p-1">
                                                &nbsp;التسجيل </i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="card p-4"
                                    style="box-shadow: 0 6px 10px -4px rgb(0 0  0/ 45%); border: #ff9776 solid;">
                                    <img src="assets/img/paint.png" class="rounded mx-auto d-block  img-responsive"
                                        style="width: 100px;" alt="Rounded Image">
                                    <div class="card-body">
                                        <h3 class="info-title p-2">الرسم</h3>
                                        <h5 class="description">الرسم بالنسبة للأطفال يمكن أن يكون وسيلة للتسلية والمتعة
                                            لتنمية
                                            مهاراتهم العقلية
                                            وتغذية روحهم، ويمكن أن يكون في ذات الوقت علاجًا سلوكيًا ونفسيًا لزيادة ثقتهم
                                            بنفسهم
                                            وتنمية ذكاءهم وكذلك تهدئتهم وتفريغ طاقتهم ومشاعرهم السلبية وتعديل طباعهم
                                            الغير
                                            مرغوب
                                            فيها من عصبية وعِند.
                                            بنقدملكم مجموعة من الكورسات المتميزة بأسعار مخفضة.</h5>
                                        <button type="button" class="btn btn-default  btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#artprices"><i class="nc-icon nc-paper">
                                                &nbsp;الاسعار </i></button>

                                        <button id="six" type="button" class="btn btn-danger btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#art"><i class="nc-icon nc-paper">
                                                &nbsp;التسجيل </i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="card p-4"
                                    style="box-shadow: 0 6px 10px -4px rgb(0 0  0/ 45%); border: #ff9776 solid;">
                                    <img src="assets/img/ai.png" class="rounded mx-auto d-block img-responsive"
                                        style="width: 100px;" alt="Rounded Image">
                                    <div class="card-body">
                                        <h3 class="info-title p-2"> كورس الـ Robotics</h3>
                                        <h5 class="description">علشان ولادنا يقدروا يواكبوا العصر والتكنولوجيا الحديثة،
                                            إبنك أو
                                            بنتك دلوقتي
                                            هايقدرو
                                            يفكروا خارج الصندوق
                                            هانقدملهم كورس الروبوتات بطريقة ممتعه وهيتعلموا الأبتكار والأبداع في تحويل
                                            كل
                                            المكونات المتاحه لتكنولوجيا يقدروا يستخدموها في حياتهم،</h5>
                                        <button type="button" class="btn btn-default  btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#roboticsprices"><i class="nc-icon nc-paper">
                                                &nbsp;الاسعار </i></button>

                                        <button type="button" class="btn btn-danger btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#robotics"><i class="nc-icon nc-paper">
                                                &nbsp;التسجيل </i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="card p-4"
                                    style="box-shadow: 0 6px 10px -4px rgb(0 0  0/ 45%); border: #ff9776 solid;">
                                    <img src="assets/img/arabicfont.jpg" class="rounded mx-auto d-block img-responsive"
                                        style="width: 250px;" alt="Rounded Image">
                                    <div class="card-body">
                                        <h3 class="info-title p-2"> كورس الخط العربي</h3>
                                        <h5 class="description">
                                            " تعلموا الخط فانه من مفاتيح الرزق ♡ "
                                            من اقوال سيدنا علي بن ابي طالب رضي الله عنه ..

                                            الخط العربي من الفنون الراقيه جدا واللي حتفيدنا وتفيد اطفالنا علي المستوى
                                            الفني والدراسي والاخلاقي كمان ..
                                            يالا نتعلمه ونعلمه لولادنا بشكل صحيح واحترافي وكمان نساعدهم ينفذوا اعمال
                                            فنيه بسيطه باستخدام الخط ..

                                        </h5>
                                        <button type="button" class="btn btn-default  btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#fontprices"><i class="nc-icon nc-paper">
                                                &nbsp;الاسعار </i></button>

                                        <button type="button" class="btn btn-danger btn-round" dir="rtl"
                                            data-toggle="modal" data-target="#arabicfont"><i class="nc-icon nc-paper">
                                                &nbsp;التسجيل </i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="mathprices" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0" style="border-radius:40px !important; ">
                        <div class="modal-body p-4" dir="rtl"
                            style="border-radius:40px !important; background-color: antiquewhite; border: #ff9776 solid;">
                            <div class="float-right">
                                <a (click)="close()" style="cursor: pointer; ">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <h1 class="text-center"> قائمة الاسعار بالشهر

                                </h1>
                                <p class=" text-right">
                                    يبدا من 5 سنين لحد 10 سنين يشترط للانضمام معرفة الاقارم لحد 10 قراءه وكتابة ومعرفة
                                    البلس علي الاقل
                                </p>

                            </div>


                            <div class="row  ">
                                <div class=" col-md-6 p-2">
                                    <div class="p-2"
                                        style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                        <h2 class="text-center ">
                                            مرحلة الكي الجي
                                            <br />
                                            120
                                            <br />
                                            <br />
                                            خصم خاص للـ الاخوات في مرحلة الكي الجي
                                            <br />
                                            220
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-6 p-2">
                                    <div class="p-2"
                                        style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                        <h2 class="text-center">
                                            مرحلة الجونيور
                                            <br />
                                            150
                                            <br />
                                            <br />
                                            خصم خاص للـ الاخوات في مرحلة الجونيور
                                            <br />
                                            270
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class=" p-4 ">
                                <div class="d-block"
                                    style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                    <h2 class="text-center">
                                        خصم خاص لما يكون واحد كي جي والتاني جونيور
                                        <br />
                                        <br />
                                        250
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="artprices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0" style="border-radius:40px !important; ">
                        <div class="modal-body p-4" dir="rtl"
                            style="border-radius:40px !important; background-color: antiquewhite; border: #ff9776 solid;">
                            <div class="float-right">
                                <a (click)="close()" style="cursor: pointer; ">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <h1 class="text-center"> قائمة الاسعار بالشهر

                                </h1>
                                <p class=" text-right">
                                    يبداء من 6 سنين لحد  13 سنة
                                </p>

                            </div>


                            <div class="row  ">
                                <div class=" col p-2">
                                    <div class="p-2"
                                        style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                        <h2 class="text-center ">
                                            125 شهريا
                                            <br />
                                            <br />
                                            خصم الاخوات 230 شهريا
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="modal fade" id="roboticsprices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content rounded-0" style="border-radius:40px !important; ">
                    <div class="modal-body p-4" dir="rtl"
                        style="border-radius:40px !important; background-color: antiquewhite; border: #ff9776 solid;">
                        <div class="float-right">
                            <a (click)="close()" style="cursor: pointer; ">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <h1 class="text-center"> قائمة الاسعار بالشهر

                            </h1>
                            <p class=" text-right">
                                يبدا من 7 سنين لحد16 سنة                            </p>

                        </div>


                        <div class="row  ">
                            <div class=" col p-2">
                                <div class="p-2"
                                    style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                    <h2 class="text-center ">
                                        200 شهريا
                                        <br />
                                        <br />
                                        خصم الاخوات 380 شهريا
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="modal fade" id="fontprices" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0" style="border-radius:40px !important; ">
                <div class="modal-body p-4" dir="rtl"
                    style="border-radius:40px !important; background-color: antiquewhite; border: #ff9776 solid;">
                    <div class="float-right">
                        <a (click)="close()" style="cursor: pointer; ">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <h1 class="text-center"> قائمة الاسعار بالشهر

                        </h1>
                        <p class=" text-right">
                            يبدا من 7 سنين لحد 13 سنة

                    </div>


                    <div class="row  ">
                        <div class=" col p-2">
                            <div class="p-2"
                                style="border: #ff9776 solid; box-shadow: 1px 1px 1px 1px gray ; border-radius: 20px; background-color: white;">
                                <h2 class="text-center ">
                                    150 شهريا 
                                    <br />
                                    <br />
                                    وخصم ثلاثة اخوات 400 شهريا 
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>












            <!-- Modal -->
            <div class="modal fade" id="robotics" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="d-flex main-content ">
                                <div class="bg-image promo-img mr-3 "
                                    style="background-image: url('assets/img/robotics.jpeg');">
                                </div>
                                <div class="content-text p-4 text-right" dir="rtl">
                                    <div>
                                        <a (click)="close()" style="cursor: pointer; ">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3 class="float-right">التسجيل في كورس الروبوتات</h3>
                                    <form [formGroup]="robotForm" (ngSubmit)="robotdata(robotForm)" autocomplete="off">
                                        <div class="form-group ">
                                            <label class="float-right" for="name">إسم الطالب :</label>
                                            <input type="text" name="name" formControlName="robotname"
                                                autocomplete="off" class="form-control" id="robotname">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="phone">رقم التلفون واتس اب :</label>
                                            <input type="tel" name="phone" formControlName="robotphone"
                                                autocomplete="off" class="form-control" id="robotphone">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="age">العمر :</label>
                                            <input type="number" name="age" formControlName="robotage"
                                                autocomplete="off" class="form-control" id="robotage">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="تسجيل" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="arabicfont" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="d-flex main-content ">
                                <div class="bg-image promo-img mr-3 "
                                    style="background-image: url('assets/img/arabic.jpg');">
                                </div>
                                <div class="content-text p-4 text-right" dir="rtl">
                                    <div>
                                        <a (click)="close()" style="cursor: pointer; ">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3 class="float-right">التسجيل في كورس الخط العربي</h3>
                                    <form [formGroup]="arabicForm" (ngSubmit)="arabicdata(arabicForm)"
                                        autocomplete="off">
                                        <div class="form-group ">
                                            <label class="float-right" for="name">إسم الطالب :</label>
                                            <input type="text" name="name" formControlName="arabicname"
                                                autocomplete="off" class="form-control" id="arabicname">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="phone">رقم التلفون واتس اب :</label>
                                            <input type="tel" name="phone" formControlName="arabicphone"
                                                autocomplete="off" class="form-control" id="arabicphone">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="age">العمر :</label>
                                            <input type="number" name="age" formControlName="arabicage"
                                                autocomplete="off" class="form-control" id="arabicage">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="تسجيل" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="art" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="d-flex main-content ">
                                <div class="bg-image promo-img mr-3 "
                                    style="background-image: url('assets/img/art.jpg');">
                                </div>

                                <div class="content-text p-4 text-right" dir="rtl">
                                    <div>
                                        <a (click)="close()" style="cursor: pointer; ">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3 class="float-right">التسجيل في كورس الرسم</h3>
                                    <form [formGroup]="artForm" (ngSubmit)="artdata(artForm)" autocomplete="off">
                                        <div class="form-group ">
                                            <label class="float-right" for="name">إسم الطالب :</label>
                                            <input type="text" name="name" formControlName="artname" autocomplete="off"
                                                class="form-control" id="artname">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="artphone" id="labelartphone">رقم التلفون
                                                واتس اب :</label>
                                            <input type="tel" name="artphone" formControlName="artphone"
                                                autocomplete="off" class="form-control" id="artphone">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="age">العمر :</label>
                                            <input type="number" name="age" formControlName="artage" autocomplete="off"
                                                class="form-control" id="artage">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="تسجيل" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="math" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content rounded-0">
                        <div class="modal-body py-0">
                            <div class="d-flex main-content ">
                                <div class="bg-image promo-img mr-3 "
                                    style="background-image: url('assets/img/math.jpg');">
                                </div>
                                <div class="content-text p-4 text-right" dir="rtl">
                                    <div>
                                        <a (click)="close()" style="cursor: pointer; ">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <h3 class="float-right">تسجيل الحساب الذهني 
                                    </h3>
                                    <form [formGroup]="mathForm" (ngSubmit)="mathdata(mathForm)" autocomplete="off">
                                        <div class="form-group ">
                                            <label class="float-right" for="name">إسم الطالب :</label>
                                            <input type="text" name="name" formControlName="mathname" autocomplete="off"
                                                class="form-control" id="mathname">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="phone">رقم التلفون واتس اب :</label>
                                            <input type="tel" name="phone" formControlName="mathphone"
                                                autocomplete="off" class="form-control" id="mathphone">
                                        </div>
                                        <div class="form-group">
                                            <label class="float-right" for="age">العمر :</label>
                                            <input type="number" name="age" formControlName="mathage" autocomplete="off"
                                                class="form-control" id="mathage">
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                formControlName="inlineRadio1" id="inlineRadio1" value="1">
                                            <label class="form-check-label" for="inlineRadio1">كي جي</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                formControlName="inlineRadio1" id="inlineRadio2" value="2">
                                            <label class="form-check-label" for="inlineRadio2">جونيور</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="تسجيل" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section " style="background-color: #FF8F62; padding: 0px; height: 80% !important;">
            <svg style="display: block ; box-sizing: unset;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1235 310">
                <path fill="#fff" fill-opacity="1"
                    d="M0,192L48,197.3C96,203,192,213,288,197.3C384,181,480,139,576,117.3C672,96,768,96,864,96C960,96,1056,96,1152,106.7C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
                </path>
            </svg>
            <div class="container">
                <h1 class="text-center "
                    style="color: black; padding-bottom: 8px;  font-family: 'Noto Naskh Arabic', serif!important">
                    فروعنا في كل مكان جنبك في أسكندرية</h1>
                <img src="./assets/img/map.png" alt="Rounded Image" class="img-rounded img-responsive"
                    style="width: 100%; position:relative; border: #fff solid 6px;box-shadow: 5px 10px 8px #888888;">
            </div>
            <svg style="display:block; box-sizing: unset;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1435 310">
                <path fill="#fff" fill-opacity="1"
                    d="M0,192L48,197.3C96,203,192,213,288,197.3C384,181,480,139,576,117.3C672,96,768,96,864,96C960,96,1056,96,1152,106.7C1248,117,1344,139,1392,149.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </div>



